@page
@model ITQJ.WebPWA.Pages.ProfesionalSkillEdictModel
@{
    ViewData["Title"] = "ProfesionalSkillEdict";
}



@foreach (var dic in Model.ListListSkill)
{
    <hr />

    <div class="top-row bg-light" style="float: none; clear:both; position:relative; margin-top:20px; ">

        <h3> @dic.Key </h3>

    </div>

    <hr />


    @foreach (ITQJ.WebPWA.Entitdades.Skill skill in dic.Value)
    {
        <div class="icon-skill-edict">

            <div class="ContSkill1">

                <div class="conte-Edict">

                    <div class="ContSkill2" onclick="@{ skill.Active = skill.Active == false ? true : false; } ">

                            <div class="titulo">

                                <label> @skill.Name </label>

                                @Html.CheckBoxFor( Model => skill.Active)

                            </div>

                            <div id="Estellas"><a onclick=""><i aria-hidden="true"><img src="@skill.Path" /></i></a> </div>

                        </div>

                        <div class="ContPorcen">

                            <label> % </label>

                            <input type="number" value="@skill.Percentage" min="0" max="100" class="Procen">

                        </div>

                </div>

            </div>

        </div>

    }

}


<button class="btn badge-dark" onclick="EnviarSkill"> Completar Habilidades </button>

<br />
<br />
<br />

