@page "/RegisterPage"
@layout AuthLayout
@using ITQJ.WebPWA.Models;

<div class="row">

    <div class="col-12">

        <h2>Crear nuevo usuario</h2>

        <EditForm Model="register" OnValidSubmit="RegisterUser">

            <RadzenCard>

                <DataAnnotationsValidator />
                <ValidationSummary />

                <label>Nombre de Usuario</label>
                <RadzenTextBox @bind-Value="@register.UserName"></RadzenTextBox>

                <label>Contraseña</label>
                <RadzenPassword @bind-Value="@register.Password"></RadzenPassword>

                <label>Confirmar Contraseña</label>
                <RadzenPassword @bind-Value="@register.Password" @onclick="confirmPassw"></RadzenPassword>

                <label>Email</label>
                <RadzenTextBox @bind-Value="@register.Email"></RadzenTextBox>

                <label>Rol</label>
                <RadzenRadioButtonList TValue="int?" Change="@((args) => { Change((int)args); })">
                    <Items>
                        <RadzenRadioButtonListItem Text="Empleador" Value="1" TValue="int" />
                        <RadzenRadioButtonListItem Text="Postulante" Value="2" TValue="int" />
                    </Items>
                </RadzenRadioButtonList>

                <br />
                <hr />

                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Registarse" ButtonStyle="Radzen.ButtonStyle.Primary" class="btn-block" mr-2 />
                <br />
                <hr />

                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Iniciar Sección" ButtonStyle="Radzen.ButtonStyle.Secondary" class="btn-block" mr-2 />
                <br />

            </RadzenCard>

        </EditForm>

    </div>

</div>

@code
{
    private string PasswConfirm = "";
    Register register = new Register();

    private void confirmPassw()
    {
        if(register.Password == PasswConfirm)
        {

        }
    }


    int value = 0;

    void Change(int? value)
    {
        value++;

        if (value == 1)
        {
            register.Rol = new Rol
            {
                Id = (int)value,
                Name = "Empleador"
            };
        }
        else
        {
            register.Rol = new Rol
            {
                Id = (int)value,
                Name = "Postulante"
            };
        }
    }

    public void RegisterUser()
    {

    }
}
