@model ITQJ.WebClient.ViewModels.ReviewListVM
@{
    ViewData["Title"] = "Mis Reseñas";

    int Nex = Model.PageIndex + 1, Back = Model.PageIndex - 1;
}
    <div class="container" style="margin-top:100px;">

        <h3>Mis Reseñas</h3>

        <hr />

        @if(Model.TotalPages > 1)
        {
            <div class="d-block p-0 m-0">

                <div class="d-inline-block bg-dark m-0 p-0" style="position:relative; left:50%; transform: translateX(-50%);">

                    <nav aria-label="Page navigation example h2">

                        <ul class="pagination">

                            @if(Model.PageIndex != 1)
                            {
                                <li class="page-item">

                                    <a class="page-link" aria-label="Previous" asp-controller="Review" asp-action="MyReviews" asp-route-pageIndex="@Back">

                                        <span aria-hidden="true" class="text-dark">&laquo;</span>

                                    </a>

                                </li>
                            }


                            @for(int i = 1; i <= Model.TotalPages; i++)
                            {
                                if(i == Model.PageIndex)
                                {
                                    <li class="page-item active" aria-current="page">

                                        <span class="page-link text-dark">
                                            @i

                                            <span class="sr-only">(current)</span>

                                        </span>

                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">

                                        <a class="page-link text-dark" asp-controller="Review" asp-action="MyReviews" asp-route-pageIndex="@i">@i</a>

                                    </li>
                                }

                            }


                            @if(Model.PageIndex != Model.TotalPages)
                            {
                                <li class="page-item">

                                    <a class="page-link" aria-label="Next" asp-controller="Review" asp-action="MyReviews" asp-route-pageIndex="@Nex">

                                        <span aria-hidden="true" class="text-dark">&raquo;</span>

                                    </a>

                                </li>
                            }

                        </ul>

                    </nav>

                </div>

            </div>
        }


        @if(Model.Reviews != null && Model.Reviews.Count > 0)
        {
            foreach(var review in Model.Reviews)
            {

                 <div style="border: 2px solid #5c5c5c; margin-bottom:50px; border-radius: 6px; background-color: #8f8f8f;">

                     <div class="col d-inline-block p-2 m-0  border badge-dark" style="border-radius: 6px;">
                         <label style="color:white;" class="control-label">Puntuación</label><br />

                         <div class="form-group">

                             <div class="form-group" style="margin:0px 0px 0px 10px; padding:0px; display:inline-block">

                                 @{ int SizeStarsY = 30, SizeStarsX = 60;}

                                 <div style="display:block; position:relative;">

                                     @if(review.Points >= 10 && review.Points <= 19)
                                     {
                                         <div style="display:inline-block; position:relative">

                                             <img id="HalfStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />

                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px; " src="~/Image/star_half_empty.png" />

                                             <img id="FullStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px; " src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>

                                     }
                                     else if(review.Points >= 20 && review.Points <= 29)
                                     {
                                         <div style="display:inline-block; position:relative">

                                             <img id="HalfStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />

                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px; " src="~/Image/star_half_empty.png" />

                                             <img id="FullStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px; " src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>

                                     }

                                     else if(review.Points >= 30 && review.Points <= 39)
                                     {
                                         <div style="display:inline-block; position:relative">

                                             <img id="HalfStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />

                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:relative; top:0px; left:0px; " src="~/Image/star_half_empty.png" />

                                             <img id="FullStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px; " src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>
                                     }

                                     else if(review.Points >= 40 && review.Points <= 49)
                                     {
                                         <div style="display:inline-block; position:relative">

                                             <img id="HalfStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />

                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px; " src="~/Image/star_half_empty.png" />

                                             <img id="FullStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px; " src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>
                                     }

                                     else if(review.Points >= 50 && review.Points <= 59)
                                     {
                                         <div style="display:inline-block; position:relative">

                                             <img id="HalfStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />

                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px; " src="~/Image/star_half_empty.png" />

                                             <img id="FullStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px; " src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>

                                     }

                                     else if(review.Points >= 60 && review.Points <= 69)
                                     {
                                         <div style="display:inline-block; position:relative">

                                             <img id="HalfStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />

                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px; " src="~/Image/star_half_empty.png" />

                                             <img id="FullStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px; " src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>

                                     }

                                     else if(review.Points >= 70 && review.Points <= 79)
                                     {
                                         <div style="display:inline-block; position:relative">

                                             <img id="HalfStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />

                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px; " src="~/Image/star_half_empty.png" />

                                             <img id="FullStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px; " src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>

                                     }

                                     else if(review.Points >= 80 && review.Points <= 89)
                                     {
                                         <div style="display:inline-block; position:relative">

                                             <img id="HalfStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />

                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px; " src="~/Image/star_half_empty.png" />

                                             <img id="FullStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px; " src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>

                                     }

                                     else if(review.Points >= 90 && review.Points <= 99)
                                     {
                                         <div style="display:inline-block; position:relative">

                                             <img id="HalfStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />

                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px; " src="~/Image/star_half_empty.png" />

                                             <img id="FullStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px; " src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>
                                     }

                                     else if(review.Points == 100)
                                     {
                                         <div style="display:inline-block; position:relative">

                                             <img id="HalfStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar1" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />

                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px; " src="~/Image/star_half_empty.png" />

                                             <img id="FullStar2" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px; " src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar3" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar4" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>


                                         <div style="display:inline-block; position:relative">


                                             <img id="HalfStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:hidden; position:relative; top:0px; left:0px;" src="~/Image/star_half_empty.png" />

                                             <img id="FullStar5" width="@SizeStarsX" height="@SizeStarsY" style="visibility:visible; position:absolute; top:0px; left:0px;" src="~/Image/star_filled.png" />


                                         </div>
                                     }

                                 </div>

                                 <div class="form-group" style="width: 320px; overflow: hidden; border: 1px dotted red; border-radius: 10px; display:inline-block;">

                                 </div>

                                 <div id="Porcentaje" class="d-inline-block"> <p id="parrafo">@review.Points%</p> </div>

                             </div>

                         </div>

                     </div>

                     <div class="mt-2 p-2 w-auto h-auto" style="overflow: hidden; word-wrap: break-word;
                                                                word-break:break-all; " >

                         <p>@review.Description</p>

                     </div>

                 </div>
            }
        }
        else
        {
            <div class="text-center">

                <h1>Sin reseñas!</h1> <br />

                @if(ViewBag.UserRole == "Profesional")
                {
                    <p>Comienza a aplicar a proyectos para resivir una reseña por parte de un contratista.</p>
                }
                else if(ViewBag.UserRole == "Contratista")
                {
                    <p>Comienza a publicar proyectos para resivir una reseña por parte de un profesional.</p>
                }
                else
                {
                    <p>No deverias estar aqui, completa el proseso de registro para poder acceder a esta pagina.</p>
                }

            </div>
        }

        <hr />
    
    </div>
