
@model List<ITQJ.WebClient.Models.SkillM>;
@{
    ViewData["Title"] = "Registro de abilidadess";
}

<form asp-action="PostEdictSkills" method="post" style="margin:100px 0px 50px 0px; padding:20px">

    @if(Model != null && Model.Count > 0)
    {
        <hr />
        <h3 style="margin:0px 0px 30px 0px; padding:0px 0px 0px 20spx;">Seleccione las habilidades tecnicas que conoce</h3>


        for(int i = 0; i < Model.Count; i++)
        {
            var InId = "inputID" + Model[i].Id;
            var ImId = "imgID" + Model[i].Id;
            var ChId = "CheckID" + Model[i].Id;

            <div class="icon-skill-edict d-inline-block">

                <div class="ContSkill1">

                    <div class="conte-Edict">

                        <div class="ContSkill2">

                            <div class="titulo" style="">

                                <input hidden asp-for="@Model[i].PersonalInfoId" />
                                <input hidden asp-for="@Model[i].Id" />

                                <label asp-for="@Model[i].Name">@Model[i].Name</label> <input hidden asp-for="@Model[i].Active" class="Check" id="@ChId" type="checkbox" />

                            </div>

                            <div class="DivIMG" style="">

                                <a onclick="Check('@Model[i].Id','@InId','@ChId','@ImId')" id="@ImId">

                                    <i aria-hidden="true">

                                        <img src="@Model[i].Path" asp-for="" asp-append-version="true" />

                                    </i>

                                </a>

                            </div>

                            <div class="ContPorcen">

                                <div class="form-group">

                                    <label asp-for="@Model[i].Percentage" id="@Model[i].Id">   @Model[i].Percentage % </label>

                                    <input onchange="ChangePorcentage('@Model[i].Id','@InId','@ChId','@ImId')" id="@InId" asp-for="@Model[i].Percentage" type="range" max="100" min="0" class="form-control-range">

                                </div>

                            </div>

                            @if(Model[i].Percentage >= 1)
                            {
                                <script>

                                    var input, A, check;

                                    input = document.getElementById('@InId');
                                    check = document.getElementById('@ChId');
                                    A =     document.getElementById('@ImId');

                                    check.checked = true;

                                    A.style.backgroundColor = "gray";

                                </script>
                            }

                        </div>

                    </div>

                </div>

            </div>
        }
    }

    <input type="submit" value="Guardar" style="display:block; margin:20px;" class="btn btn-dark " />

</form>
