
@*@model ITQJ.WebClient.ViewModels.PersonalInfoVM;

@{
    ViewData["Title"] = "Editando Skills";

}

<div class="container">

    <div style="padding:3px; padding:10px;">

        <form asp-action="PostEdictSkills" method="post">

            <div hidden>
                <input asp-for="UserId" type="text" />
            </div>

            <div hidden class="form-group">

                <label asp-for="Name" class="control-label">Nombre completo</label><br />

                <input type="text" asp-for="Name" /><br />

                <span asp-validation-for="Name" class="text-danger"></span>

            </div>

            <div hidden class="form-group">

                <label asp-for="PhoneNumber" class="control-label">Número de telefono</label><br />

                <input type="tel" asp-for="PhoneNumber" /><br />

                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            </div>

            <div hidden class="form-group">

                <i class="fas fa-pencil-alt prefix"></i>
                <label asp-for="Description" class="control-label">Pequeña descripción</label><br />

                <textarea class="md-textarea form-control" asp-for="Description"></textarea><br />

                <span asp-validation-for="Description" class="text-danger"></span>

            </div>

            <div hidden class="form-group">

                <label asp-for="PagLink" class="control-label">Enlace a su sitio web</label><br />

                <input type="text" asp-for="PagLink" /><br />

                <span asp-validation-for="PagLink" class="text-danger"></span>

            </div>

            <div hidden class="form-group">

                <label asp-for="LegalDocument.Number" class="control-label">Numero de identidad</label><br />

                <input type="text" asp-for="LegalDocument.Number" /><br />

                <span asp-validation-for="LegalDocument.Number" class="text-danger"></span>

            </div>

            <div hidden class="form-group">

                <label asp-for="LegalDocument.Image" class="control-label">Foto del documetno legal</label><br />

                <input type="file" asp-for="LegalDocument.Image" /><br />

                <span asp-validation-for="LegalDocument.Image" class="text-danger"></span>

            </div>

            <div hidden class="form-group">

                <label asp-for="LegalDocument.DocumentTypeId">Rol</label>

                <select asp-for="LegalDocument.DocumentTypeId" class="dropdown" asp-items="@(new SelectList(Model.DocumentTypes, "Id", "Name"))" required>
                </select>

            </div>



            @if (Model.Skills != null && Model.Skills.Count > 0)
            {
                <hr />
                <h3 class="m-5">Habilidades tecnicas. Editando...</h3>

                @for (int i = 0; i < Model.Skills.Count; i++)
                {
                    var InId = "inputID" + Model.Skills[i].Id;
                    var ImId = "imgID" + Model.Skills[i].Id;
                    var ChId = "CheckID" + Model.Skills[i].Id;

                    <input hidden type="text" asp-for="@Model.Skills[i].PersonalInfoId" />
                    <input hidden type="text" asp-for="@Model.Skills[i].SkillId" />
                    <input hidden type="text" asp-for="@Model.Skills[i].Active" />

                    <div class="icon-skill-edict d-inline-block">

                        <div class="ContSkill1">

                            <div class="conte-Edict">

                                <div class="ContSkill2">

                                    <div class="titulo" style="">

                                        <label>@Model.Skills[i].Name</label> <input hidden class="Check" id="@ChId" asp-for="@Model.Skills[i].Active" type="checkbox" />

                                    </div>

                                    <div class="DivIMG" style="">
                                        <a onclick="Check('@Model.Skills[i].Id','@InId','@ChId','@ImId')" id="@ImId">
                                            <i aria-hidden="true">
                                                <img src="@Model.Skills[i].Path" asp-append-version="true" />
                                            </i>
                                        </a>
                                    </div>

                                    <div class="ContPorcen">

                                        <div class="form-group">

                                            <label asp-for="@Model.Skills[i].Percentage" id="@Model.Skills[i].Id">   @Model.Skills[i].Percentage % </label>

                                            <input onchange="ChangePorcentage('@Model.Skills[i].Id','@InId','@ChId','@ImId')" id="@InId" asp-for="@Model.Skills[i].Percentage" type="range" max="100" min="0" class="form-control-range">

                                        </div>

                                    </div>

                                    @if(skill.Active)
                                        {
                                            <script>

                                                debugger;

                                                var input, A, check;

                                                input = document.getElementById('@InId');
                                                check = document.getElementById('@ChId');
                                                A =     document.getElementById('@ImId');

                                                if (check.checked == false)
                                                {
                                                    check.checked = true;

                                                    A.style.backgroundColor = "gray";

                                                }

                                            </script>
                                        }

                                </div>

                            </div>

                        </div>

                    </div>
                }
            }

            <input type="submit" class="btn badge-dark" style="float:none;" value="Actializar" />

        </form>

    </div>

</div>*@




@model List<ITQJ.WebClient.Models.SkillM>;
@{
    ViewData["Title"] = "Registro de abilidadess";
}

<form asp-action="AddSkills" method="post">

    @if(Model != null && Model.Count > 0)
    {
        <hr />
        <h3>Seleccione las habilidades tecnicas que conoce</h3>


        for(int i = 0; i < Model.Count; i++)
        {
            var InId = "inputID" + Model[i].Id;
            var ImId = "imgID" + Model[i].Id;
            var ChId = "CheckID" + Model[i].Id;

            <div class="icon-skill-edict d-inline-block">

                <div class="ContSkill1">

                    <div class="conte-Edict">

                        <div class="ContSkill2">

                            <div class="titulo" style="">

                                <input hidden asp-for="@Model[i].PersonalInfoId" />
                                <input hidden asp-for="@Model[i].Id" />

                                <label asp-for="@Model[i].Name">@Model[i].Name</label> <input hidden asp-for="@Model[i].Active" class="Check" id="@ChId" type="checkbox" />

                            </div>

                            <div class="DivIMG" style="">

                                <a onclick="Check('@Model[i].Id','@InId','@ChId','@ImId')" id="@ImId">

                                    <i aria-hidden="true">

                                        <img src="@Model[i].Path" asp-for="" asp-append-version="true" />

                                    </i>

                                </a>

                            </div>

                            <div class="ContPorcen">

                                <div class="form-group">

                                    <label asp-for="@Model[i].Percentage" id="@Model[i].Id">   @Model[i].Percentage % </label>

                                    <input onchange="ChangePorcentage('@Model[i].Id','@InId','@ChId','@ImId')" id="@InId" asp-for="@Model[i].Percentage" type="range" max="100" min="0" class="form-control-range">

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        }
    }

    <input type="submit" value="Guardar" class="btn btn-dark " />

</form>
