
@{
    ViewData["Title"] = "Projecto";
}

@model ITQJ.Domain.DTOs.ProjectResponseDTO;

@{
    var Id = "id" + Model.Id;
    var Div = "div" + @Model.Id;
    var Fcta = "fcta" + @Model.Id;

    if(ViewBag.ErrorMesseger != null)
    {
        <script>
            alert(ViewBag.ErrorMesseger);
        </script>
    }

    var postulaciones = Model.PostulantsLimit - Model.Postulants.Count;

    Func<bool> funcVerifiContratis = () =>
    {
        Guid userId = ViewBag.UserId;

        if(Model.UserId == userId)
        {
            return true;
        }

        return false;

    };

    Func<string> func = () =>
    {

        var fecha = Model.CloseDate.ToString();

        if(fecha.Substring(0,8) == "1/1/0001")
        {
            return "Nullo";
        }

        return Model.CloseDate.ToString();

    };
}

<div class="col d-inline-block p-2 border badge-dark" style="margin:4% 0% 2% 0%">

    <div class="col d-inline m-0 p-0">

        <strong class="h2 m-0 p-0">

            @Model.Name

        </strong>

    </div>

</div>

<div class="border badge-light mt-lg-3 p-2 mt-3 " style="margin:0% 0% 13% 0%">

    <div class="border-bottom border-dark mb-3">

        <strong>Descripción </strong>

    </div>

    <text>@Model.Description</text>

    <div class="mt-lg-4 mb-lg-4">

        <div class="d-inline m-0 p-0 ">

            <strong class="h6 m-0 p-0">

                Publicado: <text class="text-info">@Model.PublishDate</text>

            </strong>

        </div>

        <div class="col d-inline  ml-lg-3 p-0 ">

            <strong class="h6 m-0 p-0">

                Cierra: <text class="text-danger">

                    @func();

                </text>

            </strong>

        </div>

        <div class="col d-inline  ml-lg-3 p-0 ">

            <strong class="h6 m-0 p-0">

                Postaciones restante: <text class="text-danger">@postulaciones</text>

            </strong>

        </div>

    </div>

    @if(!funcVerifiContratis())
    {

        if(Model.Postulants.Count == 0)
        {
            <form method="post" class="d-inline-block" asp-route-projectId="@Model.Id" asp-action="PostPostulants" asp-controller="Project">

                <input id="Submit" type="submit" value="Postularse" class="btn btn-dark m-3" />

            </form>
        }
        else
        {
            if(Model.Postulants.FirstOrDefault(x => x.UserId == ViewBag.UserId).Equals(null))
            {
                <form method="post" class="d-inline-block" asp-route-projectId="@Model.Id" asp-action="PostPostulants" asp-controller="Project">

                    <input id="Submit" type="submit" value="Postularse" class="btn btn-dark m-3" />

                </form>
            }
            else
            {

            }
        }

        <div class="d-inline-block">

            <a asp-controller="PersonalInfo" asp-action="Contratist" asp-route-userId="@Model.UserId" class="btn btn-dark m-3"> Perfil del Contratista </a>

        </div>
    }

</div>


