@model ITQJ.Domain.DTOs.PersonalInfoResponseDTO;
@{
    ViewData["Title"] = "Pagina de perfil del Profesional";
}

<h2>Perfil de usuario @Model.User.UserName</h2>
<p>Nombre: @Model.Name</p>
<p>Correo: @Model.User.Email</p>
<p>Phone number: @Model.PhoneNumber</p>
<p>Page: <a src="@Model.PagLink">@Model.PagLink</a></p>
<p>Description: @Model.Description</p>
