@model ITQJ.Domain.DTOs.PersonalInfoResponseDTO;
@{
    ViewData["Title"] = "Pagina de perfil del Contratista";
}

<div style="width:90%; transform:translateX(5%);">

    <form asp-action="EditContratist" asp-controller="PersonalInfo" style="margin:100px 0px 0px 0px;" method="post">
    
        <div hidden>
    
            <label asp-for="User.Id"></label>
            <input asp-for="User.Id" type="text" />
    
            <label asp-for="User.Email"></label>
            <input asp-for="User.Email" type="text" />
    
            <label asp-for="User.Role"></label>
            <input asp-for="User.Role" type="text" />
    
        </div>
    
        <div class="border badge-pill bg-primary mt-3" style="border: 1px solid white; box-shadow:2px 2px 6px #000;">
    
            <h4 id="Lname" asp-for="Name">Nombre</h4>
    
            <input id="Tname" style="display: block; margin: 3px 0px 3px 10px; width: 85%;" type="text" asp-for="Name" />
    
            <span asp-validation-for="Name" class="text-danger"></span>
    
            <p id="Mname" class="h2"> Nombre: @Model.Name </p>
    
        </div>
    
        <div class="border badge-pill bg-primary mt-3" style="border: 1px solid white; box-shadow:2px 2px 6px #000;">
    
            <h4 id="Lemail" asp-for="User.Email">Correo</h4>
    
            <input id="Temail" style="display: block; margin: 3px 0px 3px 10px; width: 85%;" type="email" asp-for="User.Email" />
    
            <span asp-validation-for="User.Email" class="text-danger"></span>
    
            <p id="Memail" class="h2"> Correo: @Model.User.Email </p>
    
        </div>
    
        <div class="border badge-pill bg-primary mt-3" style="border: 1px solid white; box-shadow:2px 2px 6px #000">
    
            <h4 id="Lnumero" asp-for="PhoneNumber">Numero de telefono</h4>
    
            <input id="Tnumero" style="display:block; margin:3px 0px 3px 10px; width:85%;" type="text" asp-for="PhoneNumber" />
    
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    
            <p id="Mnumero" class="h2"> Numero de telefono: @Model.PhoneNumber </p>
    
        </div>
    
        <div class="border badge-pill bg-primary mt-3" style="border: 1px solid white; box-shadow:2px 2px 6px #000">
    
            <h4 id="Lling" asp-for="PagLink">Pagina</h4>
    
            <input id="Tling" style="display: block; margin: 3px 0px 3px 10px; width: 85%;" type="text" asp-for="PagLink" />
    
            <span asp-validation-for="PagLink" class="text-danger"></span>
    
            <p id="Mling" class="h2"> Pagina Web: <a src="@Model.PagLink">@Model.PagLink </a></p>
    
        </div>
    
        <div class="border badge-pill bg-primary mt-3" style="border: 1px solid white; box-shadow:2px 2px 6px #000">
    
            <h4 id="Ldescripcion" asp-for="Description">Description</h4>
    
            <textarea id="Tdescripcion" style="display: block; margin: 3px 0px 3px 10px; height: 130px; width: 85%;" type="text" asp-for="Description"> </textarea>
    
            <span asp-validation-for="Description" class="text-danger"></span>
    
            <p id="Mdescripcion" class="h2"> Descripción: @Model.Description </p>
    
        </div>
    
        <div class="d-inline-block">
    
            <input id="bntGuardar" class="btn btn-dark m-3" type="submit" value="Guardar" />
    
            <input id="bntCancelar" class="btn btn-dark m-3" type="button" value="Cancelar" onclick="Cancelar()" />
    
        </div>
    
    </form>
    
    <input id="bntEditar" class="btn btn-dark m-3" type="button" value="Editar" onclick="Edit()" />

</div>