@model ITQJ.WebClient.ViewModels.PersonalInfoVM;
@{
    ViewData["Title"] = "Registro de Informacion Personal";
}

<div class="container">
    <div style="padding:3px; padding:10px;">
        <form asp-action="Register" method="post">

            <div hidden>
                <input asp-for="UserId" type="text" />
            </div>

            <h3>Introduca sus datos personales</h3>
            <div class="form-group">

                <label asp-for="Name" class="control-label">Nombre completo</label><br />

                <input type="text" asp-for="Name" /><br />

                <span asp-validation-for="Name" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="PhoneNumber" class="control-label">Número de telefono</label><br />

                <input type="tel" asp-for="PhoneNumber" /><br />

                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            </div>

            <div class="form-group">

                <i class="fas fa-pencil-alt prefix"></i>
                <label asp-for="Description" class="control-label">Pequeña descripción</label><br />

                <textarea class="md-textarea form-control" asp-for="Description"></textarea><br />

                <span asp-validation-for="Description" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="PagLink" class="control-label">Enlace a su sitio web</label><br />

                <input type="text" asp-for="PagLink" /><br />

                <span asp-validation-for="PagLink" class="text-danger"></span>

            </div>

            <hr />
            <h3>Ingrese los datos legales</h3>

            <div class="form-group">

                <label asp-for="LegalDocument.Number" class="control-label">Numero de identidad</label><br />

                <input type="text" asp-for="LegalDocument.Number" /><br />

                <span asp-validation-for="LegalDocument.Number" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="LegalDocument.Image" class="control-label">Foto del documetno legal</label><br />

                <input type="file" asp-for="LegalDocument.Image" /><br />

                <span asp-validation-for="LegalDocument.Image" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="LegalDocument.DocumentTypeId">Rol</label>

                <select asp-for="LegalDocument.DocumentTypeId"
                        class="dropdown"
                        asp-items="@(new SelectList(Model.DocumentTypes, "Id", "Name"))" required>
                </select>

            </div>

            @if (Model.Skills != null && Model.Skills.Count > 0)
            {
                <hr />
                <h3>Seleccione las habilidades tecnicas que conoce</h3>


                @foreach (var skill in Model.Skills)
                {
                    var InId = "inputID" + skill.Id;
                    var ImId = "imgID" + skill.Id;
                    var ChId = "CheckID" + skill.Id;

                    <div class="icon-skill-edict d-inline-block">

                        <div class="ContSkill1">

                            <div class="conte-Edict">

                                <div class="ContSkill2">

                                    <div class="titulo" style="">

                                        <label>@skill.Name</label> <input hidden class="Check" id="@ChId" type="checkbox" />

                                    </div>

                                    <div class="DivIMG" style="">
                                        <a onclick="Check('@skill.Id','@InId','@ChId','@ImId')" id="@ImId">
                                            <i aria-hidden="true">
                                                <img src="@skill.Path" asp-append-version="true" />
                                            </i>
                                        </a>
                                    </div>

                                    <div class="ContPorcen">

                                        <div class="form-group">

                                            <label asp-for="@skill.Percentage" id="@skill.Id">   @skill.Percentage % </label>

                                            <input onchange="ChangePorcentage('@skill.Id','@InId','@ChId','@ImId')" id="@InId" asp-for="@skill.Percentage" type="range" max="100" min="0" class="form-control-range">

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                }
            }


            <input type="submit" class="btn badge-dark" style="float:none;" value="Finalizar registro" />

        </form>
    </div>
</div>