
@model ITQJ.Domain.DTOs.PersonalInfoResponseDTO;

@{
    ViewData["Title"] = "Pagina de perfil del Profesional";

}

<div style="width:90%; transform:translateX(5%);">

    <div id="presentar" style="margin:100px 0px 0px 0px;">

        <div class="border badge-pill bg-primary mt-3" style="border: 1px solid white; box-shadow:2px 2px 6px #000;">

            <p id="Mname" class="h2"> Nombre: @Model.Name </p>

        </div>

        <div class="border badge-pill bg-primary mt-3" style="border: 1px solid white; box-shadow:2px 2px 6px #000;">

            <p id="Memail" class="h2"> Correo: @Model.User.Email </p>

        </div>

        <div class="border badge-pill bg-primary mt-3" style="border: 1px solid white; box-shadow:2px 2px 6px #000">

            <p id="Mnumero" class="h2"> Numero de telefono: @Model.PhoneNumber </p>

        </div>

        <div class="border badge-pill bg-primary mt-3" style="border: 1px solid white; box-shadow:2px 2px 6px #000">

            <p id="Mling" class="h2"> Pagina Web: <a src="@Model.PagLink">@Model.PagLink </a></p>

        </div>

        <div class="border badge-pill bg-primary mt-3" style="border: 1px solid white; box-shadow:2px 2px 6px #000">

            <p id="Mdescripcion" class="h2"> Descripción: @Model.Description </p>

        </div>

        <input id="bntEditar" asp-action="EdictProfesionalInfo" asp-controller="PersonalInfo" class="btn btn-dark m-3" type="button" value="Editar" onclick="Edit()" />

    </div>

</div>


<div class="container" style="width:90%; transform:translateX(5%); margin:0px 0px 100px 0px; ">

    <div style="padding:3px;">

        <h1 class="mb-5">Profesional Skill</h1>

        @if(!Model.ProfesionalSkills.Equals(null))
        {
            <h2> Sin avilidades para mostrar.</h2>
        }
        else
            @foreach(ITQJ.Domain.DTOs.ProfesionalSkillResponseDTO skill in Model.ProfesionalSkills)
            {

                <div class="icon-skill-edict d-inline-block">

                    <div class="ContSkill1">

                        <div class="conte-Edict">

                            <div class="ContSkill2">

                                <div class="titulo" style="">

                                    <label>@skill.Skill.Name</label>

                                </div>

                                <div class="DivIMG">

                                    <a>

                                        <i aria-hidden="true" style="cursor:default;">

                                            <img src="@skill.Skill.Path" />

                                        </i>

                                    </a>

                                </div>

                                <div class="ContPorcen">

                                    <div class="form-group">

                                        <div class="progress-bar blue stripes shine ">
                                            <span style=" width: @(Convert.ToString(skill.Percentage) + "%")"></span>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>


            }

    </div>

    <form asp-controller="ProfesionalSkills" asp-action="GetEdictSkills" method="post">

        <div hidden class="form-group">

            <label asp-for="Name" class="control-label">Nombre completo</label><br />
            <input type="text" asp-for="Name" value="@Model.Name" />

            <label asp-for="PhoneNumber" class="control-label">Nombre completo</label><br />
            <input type="text" asp-for="PhoneNumber" value="@Model.PhoneNumber" />

            <label asp-for="PagLink" class="control-label">Nombre completo</label><br />
            <input type="text" asp-for="PagLink" value="@Model.PagLink" />

            <label asp-for="Description" class="control-label">Nombre completo</label><br />
            <input type="text" asp-for="Description" value="@Model.Description" />

            <label asp-for="User.Email" class="control-label">Nombre completo</label><br />
            <input type="text" asp-for="User.Email" value="@Model.User.Email" />

            <label asp-for="LegalDocument" class="control-label">Nombre completo</label><br />
            <input type="text" asp-for="LegalDocument" value="@Model.LegalDocument" />

            <label asp-for="UserId" class="control-label">Nombre completo</label><br />
            <input type="text" asp-for="UserId" value="@Model.UserId" />

            <label asp-for="User" class="control-label">Nombre completo</label><br />
            <input type="text" asp-for="User" value="@Model.User" />

        </div>

        <div class="mt-3 position-relative pb-1">

            <input type="submit" class="btn badge-dark" value="Editar skills" />

        </div>

    </form>

</div>

